.topBarNavs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 0 4vh 0 4vh;

    width: 100%;

    p {
        color: white;
        font-size: 19px;
        font-family: 'Asap', sans-serif;
    }
}

.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #173363;
    padding: 4px 0 4px 0;
}

.topBarTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 20px;

    img {
        aspect-ratio: 1/1;
        height: 20vh;
    }
}