.register-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.register-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    p {
        text-align: center;
        width: 100%;
    }
}